<div id="page-wrapper">

        <div class="row">
          <div class="col-lg-12">
            <h1>Project</h1>
          </div>
          <div class="col-lg-12">
            <ol class="breadcrumb">
              <li><a href="index.html"><i class="fa fa-dashboard"></i> Dashboard</a></li>
              <li class="active"><i class="fa fa-desktop"></i> Project</li>
            </ol>
          </div>
        </div><!-- /.row -->

        <div class="row">
          <div class="col-lg-6">
            <h2>Project management</h2>
            <form action="admin/project/validation/<?php echo $project->id; ?>" method="POST">

              <div class="form-group">
                <label>Name</label>
                <input class="form-control" name="title" value="<?php echo $project->title; ?>">
              </div>
              <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" name="description" rows="3"><?php echo $project->description; ?></textarea>
              </div>
              <div class="form-group">
                <label>Photos</label>
              </div>
              <?php
				  $photos = unserialize($project->photos);
				  foreach ($photos as $key => $photo) :
			  ?>
			  	<img src="<?php echo $photo; ?>" width="200px">
			  <?php endforeach; ?>
          </div>
          <div class="col-lg-6">
          	<form method="POST" action="admin/project/validation/<?php echo $project->id; ?>">
            <h2>Jury votes</h2>
            <div class="form-group">
              <label>Beauty</label>
              <select name="style" class="form-control">
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
              </select>
            </div>
            <div class="form-group">
              <label>Originality</label>
              <select name="originality" class="form-control">
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
              </select>
            </div>
            <div class="form-group">
              <label>Difficulty</label>
              <select name="difficulty" class="form-control">
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
              </select>
            </div>
            <input type="submit" class="btn btn-info" value="Valide your vote for accept">
          </div>
      	</form>
        </div><!-- /.row -->
        </div><!-- /.row -->

      </div><!-- /#page-wrapper -->
