<div class="container">
	<div id="formRate" class="hidden visuallyhidden form2column formPop">
		<div>
			<img src="public/images/croix_popup.png" alt="close" class="float-right cursorP">
			<h5 class="titre-3 black center ">RATE THE PROJECT</h5>
			<p class="center titre-5 padding-1 color1">Chose a number between 0 an 10 included (for example 3.6) to rate the differents criterias of this project. Your rate will be add to the average</p>
			<form name="input" action="./project/vote/<?php echo $project->id; ?>" method="POST">
				<div class="titre-4-bold center">
				  <div>
				    <label for="ORIGINALITY">ORIGINALITY</label>
				    <input id="ORIGINALITY" name="originality" type="text" pattern="([0-9]||10){1}" required/>
				  </div>
				  <div>
				    <label for="DIFFICULTY">DIFFICULTY</label>
				    <input id="DIFFICULTY" type="text" name="difficulty"  pattern="([0-9]||10){1}" required/>
				  </div>
				  <div>
				    <label for="AESTHETIC">AESTHETIC</label>
				    <input id="AESTHETIC" type="text" name="style"  pattern="([0-9]||10){1}" required/>
				  </div>
				  <div>
				  	<p class="color2 inline-block">AVERAGE</p>
				  	<div id="averageNoting" class="inline-block">
				  		<p>_</p>
				  	</div>
				  </div>
					<input class="button-1" type="submit" value="Submit">
				</div>
			</form>
		</div>
	</div>
</div>
<div id="bgContent" >
	<?php $photos = unserialize($project->photos); ?>
	<?php
		$user_vote = unserialize($project->user_vote);
		$admin_vote = unserialize($project->admin_vote);
		$originality = ($user_vote['originality']+$admin_vote['originality'])/2;
		$originality = str_replace(',','.',number_format($originality/2, 2, ',', ''));
		$difficulty = ($user_vote['difficulty']+$admin_vote['difficulty'])/2;
		$difficulty = str_replace(',','.',number_format($difficulty/2, 2, ',', ''));
		$style = ($user_vote['style']+$admin_vote['style'])/2;
		$style = str_replace(',','.',number_format($style/2, 2, ',', ''));
		$date = Date('d/m/Y', $project->lastDay);
	?>
	<div class="container paddingSep">
		<div class="row center titre_partie">
			<div class="col-md-12">
			<p class=" titre-2-black "><?php echo $project->title; ?></p>
			<h4 class="titre-5 color1">BY <a class="underline" href="#">
				<?php echo $users[$project->id]['firstname'].' '.$users[$project->id]['lastname']; ?></a>
			</h4>
			<img alt="" src="public/images/fleche_bas_noire.png" class="espacementVertical"/>
			<p class="titre-5 lineHeightBase"><?php echo $project->description; ?></p>
		</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="drop-shadow">
					<img  class="width100" alt="" src="<?php echo $photos[0]; ?>"/>
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<h2 class="titre-6 color3 padding-0"><img src="public/images/coupe_title_green.png" alt="coupe_title"/> CREATION OF THE DAY - <span class="color1"><?php echo $date; ?></span></h2>
				<div class="center col-md-3 col-sm-3 note">
					<div class="center titre-4">ORIGINALITY</div>
					<svg  id="Calque_1" x="0px" y="0px" height="85px" viewBox="0 0 33.083 43.771" enable-background="new 0 0 33.083 43.771">
 						<defs>
					      <linearGradient  id="Gradient1" x1="0%" y1="0%" x2="0%" y2="100%" gradientUnits="userSpaceOnUse">
					        <stop class="gradientElement" offset="100%" stop-color="#C5C5C5"  data-note="<?php echo $originality; ?>"/>
					        <stop offset="0%" stop-color="#353548"/>
					      </linearGradient>
					      <linearGradient  id="Gradient2" x1="0%" y1="0%" x2="0%" y2="100%" gradientUnits="userSpaceOnUse">
					        <stop class="gradientElement" offset="100%" stop-color="#C5C5C5"  data-note="<?php echo $difficulty; ?>"/>
					        <stop offset="0%" stop-color="#353548"/>
<!-- 							        <stop offset="100%" stop-color="#2581F1"/>
-->							  </linearGradient>
					      <linearGradient  id="Gradient3" x1="0%" y1="0%" x2="0%" y2="100%" gradientUnits="userSpaceOnUse">
					        <stop class="gradientElement" offset="100%" stop-color="#C5C5C5"  data-note="<?php echo $style; ?>"/>
					        <stop offset="0%" stop-color="#353548"/>
					      </linearGradient>
					      <linearGradient  id="Gradient4" x1="0%" y1="0%" x2="0%" y2="100%" gradientUnits="userSpaceOnUse">
					        <stop class="gradientElement" offset="100%" stop-color="#C5C5C5"  data-note="<?php echo str_replace(',','.',number_format(($originality+$difficulty+$style)/3, 2, ',', '')); ?>"/>
					        <stop offset="0%" stop-color="#930408"/>
					      </linearGradient>
					  	</defs>
						<g fill="url(#Gradient1)" data-note="2">
							<polygon points="26.62,2.855 26.62,0 20.135,0 20.135,2.855 13.682,2.855 13.682,0 7.213,0 7.213,2.855 0,2.855
								0,9.313 33.083,9.313 33.083,2.855 	"/>
							<rect y="37.313" width="33.083" height="6.458"/>
							<rect y="28.688" width="33.083" height="6.458"/>
							<rect y="20.146" width="33.083" height="6.458"/>
							<rect y="11.438" width="33.083" height="6.458"/>
						</g>
					</svg>
					<p><?php echo $originality*2; ?></p>
				</div>
				<div class="center col-md-3 col-sm-3 note" >
					<div class="center titre-4">DIFFICULTY</div>
					<svg x="0px" y="0px" height="85px" viewBox="0 0 33.083 43.771">
						<g fill="url(#Gradient2)">
							<polygon points="26.62,2.855 26.62,0 20.135,0 20.135,2.855 13.682,2.855 13.682,0 7.213,0 7.213,2.855 0,2.855
								0,9.313 33.083,9.313 33.083,2.855 	"/>
							<rect y="37.313" width="33.083" height="6.458"/>
							<rect y="28.688" width="33.083" height="6.458"/>
							<rect y="20.146" width="33.083" height="6.458"/>
							<rect y="11.438" width="33.083" height="6.458"/>
						</g>
					</svg>
					<p><?php echo $difficulty*2; ?></p>
				</div>
				<div class="center col-md-3 col-sm-3 note">
					<div class="center titre-4">AESTHETIC</div>
					<svg x="0px" y="0px" height="85px" viewBox="0 0 33.083 43.771">
						<g fill="url(#Gradient3)">
							<polygon points="26.62,2.855 26.62,0 20.135,0 20.135,2.855 13.682,2.855 13.682,0 7.213,0 7.213,2.855 0,2.855
								0,9.313 33.083,9.313 33.083,2.855 	"/>
							<rect y="37.313" width="33.083" height="6.458"/>
							<rect y="28.688" width="33.083" height="6.458"/>
							<rect y="20.146" width="33.083" height="6.458"/>
							<rect y="11.438" width="33.083" height="6.458"/>
						</g>
					</svg>
					<p><?php echo $style*2; ?></p>
				</div>
				<div class="center col-md-3 col-sm-3 note titre-4" id="average">
					<div>
						<div class="border-bottom">AVERAGE</div>
						<svg x="0px" y="0px" height="85px" viewBox="0 0 33.083 43.771">
							<g fill="url(#Gradient4)">
								<polygon points="26.62,2.855 26.62,0 20.135,0 20.135,2.855 13.682,2.855 13.682,0 7.213,0 7.213,2.855 0,2.855
									0,9.313 33.083,9.313 33.083,2.855 	"/>
								<rect y="37.313" width="33.083" height="6.458"/>
								<rect y="28.688" width="33.083" height="6.458"/>
								<rect y="20.146" width="33.083" height="6.458"/>
								<rect y="11.438" width="33.083" height="6.458"/>
							</g>
						</svg>
						<p class="color2"><?php echo str_replace(',','.',number_format(($originality+$difficulty+$style)/3, 2, ',', ''))*2; ?></p>
					</div>
				</div>
				<div class="raters">
					<?php

					$tour = ($user_vote['vote'] < 7) ? $user_vote['vote'] : 7;


					for($i=0; $i<$tour; $i++){

					?>
						<a href="#" data-tooltip="Aurélien Georget (4.8)" data-placement="top"><img src="public/images/img_user.jpg" alt="" class="rounded"/></a>
					<?php
					}
					?>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-6">
				<div class="col-md-5 col-md-offset-4 partage white center">
					<p class="bgcolor2 titre-4">SHARE</p>
					<a href="#" class="bgcolor2"><img src="public/images/fb.png" alt=""></a>
					<a href="#" class="bgcolor2"><img src="public/images/twitter.png" alt=""></a>
					<a href="#" class="bgcolor2"><img src="public/images/google_plus.png" alt=""></a>
				</div>
				<div class="col-md-3" id="rate">
					<?php
					if($vote == ""){
					?>
					<a class=" button-1 titre-5-white center openPop" id="rateit" href="/">RATE IT!</a>
					<?php } ?>
				</div>
			</div>
		</div>
	</div>
</div>

<?php if (count($photos) > 1) :?>
<div class="paddingSep container">
	<div class="row center titre_partie">
		<p class="titre-2-white">PHOTOS</p>
		<img alt="" src="public/images/fleche_bas.png" />
	</div>
	<div class="row gallerieJ">
		<?php for ($i = 1 ; $i < count($photos) ; $i++) : ?>
		<div class="col-md-4 col-sm-6">
			<div class="imageT">
				<img alt="" src="<?php echo $photos[$i] ?>" />
			</div>
		</div>
		<?php endfor; ?>
	</div>
</div>
<?php endif; ?>
