<div id="bgContent" >
	<div class="container paddingSep">
		<div class="row center titre_partie">
			<p class="titre-2-black">ABOUT</p>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<p>
					This website is a result of school project.<br>
					We're five french students at HETIC and we love the LEGO world. The goals of the website were to promote the LEGO company and the story of LEGO.
				</p>
				<br>
				<p class="bold">
					Feel free to contact us :
				</p>
				<ul>
					<li>Project Manager - <span class="italic">aurelien.georget@hetic.net</span></li>
					<li>Front-end developer - <span class="italic">allan.raquin@hetic.net</span></li>
					<li>Front-end developer - <span class="italic">loic.saintroch@hetic.net</span></li>
					<li>Lead designer - <span class="italic">augustin.menou@hetic.net</span></li>
					<li>Back-end developer - <span class="italic">jim.laurie@hetic.net</span></li>
				</ul>
			</div>
		</div>
	</div>
</div>	