<div class="container">
	<h3 class="white center titre34 marginTop">CONTACT</h3>
	<div class="inscription col-md-4 col-md-offset-4">
	<?php if(!isset($send)){ ?>
	<form action="user/create" method="POST" class="titre-4 champs color1">
		<div >
			<label for="NFirstname">FIRSTNAME</label>
			<input pattern="[a-zA-Z]+" id="NFirstname"type="text" name="firstname" value="<?php if (isset($_POST['firstname'])) echo $_POST['firstname']; ?>">
		</div>
		<div>
			<label for="NEMAIL">EMAIL</label> 
			<input id="NEMAIL" type="text" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="email" value="<?php if (isset($_POST['email'])) echo $_POST['email']; ?>">
		</div>
		<div>
			<label for="NPASSWORD">PASSWORD</label> 
			<input pattern="[a-zA-Z0-9_-]+" id="NPASSWORD" autocomplete="off" type="password" name="password">
		</div>
		<input class="button-1 marginAuto" type="submit" value="SUBMIT">
	</form>
	<?php
	}else{
		switch($send) {
			case 1:
				echo 'Sent!';
				break;
			case 2:
				echo 'A required fill is missing...';
				break;
			default:
				echo 'An error occuried.';
				break;
		}
	}
	?>
</div>


