<div id="prehome">
	<div class="float-left">
		<img src="public/images/logo_lego.jpg" class="float-left" alt="logo lego">
		<div id="prehomeG" class="marginAuto">
			<a href="./home"><img src="public/images/logo_award_big.png" class="marginAuto imagePreHome" alt="LOGO lego award"></a>
			<a href="./home" class="white titre-4 capitale marginAuto" >Enter on the website</a>
		</div>
	</div>
	<div class="float-right">
		<div id="prehomeD" class="marginAuto">
			<a href="./timeline"><img src="public/images/lego_logo_retro.png" class="marginAuto imagePreHome" alt="lego_logo_retro"></a>
			<a href="./timeline" class="white titre-4 capitale marginAuto" >Enter on the website</a>
		</div>
	</div>
</div>
