<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Lego Awaaards</title>
	<link rel="stylesheet" href="../../public/stylesheet/grid.css">
	<link rel="stylesheet" href="../../public/stylesheet/style.css">
	<link rel="stylesheet" href="../../public/stylesheet/reset.css">
	<!--[if lt IE 9]>
	<script src="../../public/js/html5shiv.js"></script>
	<![endif]-->
</head>
<body id="prehome">
	<div class="float-left">
		<img src="public/images/logo_lego.jpg" class="float-left" alt="logo lego">
		<div id="prehomeG">
			<a href="./home"><img src="public/images/logo_award_big.png" class="marginAuto imagePreHome" alt="LOGO lego award"></a>
			<a href="./home" class="white titre-4 capitale marginAuto" >entrer sur le site</a>
		</div>
	</div>
	<div class="float-right">
		<div id="prehomeD">
			<a href="./timeline"><img src="public/images/lego_logo_retro.png" class="marginAuto imagePreHome" alt="lego_logo_retro"></a>			
			<a href="./timeline" class="white titre-4 capitale marginAuto" >entrer sur le site</a>
		</div>
	</div>
  <!-- JavaScript -->
<script src="public/js/jq.js"></script>
<script src="public/js/d3.js"></script>
<script src="public/js/js.js"></script>

</body>
</html>
