<div id="bgContent" >
	<div class="container paddingSep">
		<div class="row center titre_partie">
			<p class="titre-2-black">RULES</p>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<ul class="list-style-yes">
					<li>The project must be always build if he's elected ! A LEGO employee will come authentificate him before the distribution of prizes.</li>
					<li>Only adults or kids with parental agreement can compete.</li>
					<li>The prizes will be shared out only after the authentification by a LEGO expert.</li>
					<li>The LEGO company reserves the right to use a project in commercial perspective.</li>
					<li>If the project is motorized, a video must be sent with all the possible actions.</li>
					<li>The project need to be only build with LEGO products. If the project is build with a component of another brand, it will be gone out.</li>
				</ul>
				</p>
			</div>
		</div>
	</div>
</div>	