<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <base href="<?php echo $BASE; ?>/">
  <title>LEGO</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
  <div>
    Menu: 
    <?php if ( !isset($_SESSION['user']) ): ?>
      <a href="login">Login</a>
    <?php else: ?>
      <a href="logout">Logout</a> <a href="user/edit">Profil</a> <a href="project/list">list Project</a>
    <?php endif ?>
    
  </div>
  <hr>
  <div>
    <?php
      require($content);
    ?>
</div>
</body>
</html>