<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>LEGO - Timelime</title>
    <meta name="description" content="LEGO timeline" />
    <meta name="keywords" content="lego, timeline" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <link rel="stylesheet" href="public/css/timeline.css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700" />
    <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  </head>
  <body>
    <section class="timeline">
        <a href="./" class="menu tooltip" title="Go back to LEGO website"></a>
        <h1><a href="#" class="retrospective">Retrospective</a></h1>
      <a href="#timeline-container" class="scroll tooltip" title="Scroll down and enjoy!"></a>
      <div id="timeline-container" class="timeline-container">
        <div class="timeline-row">
          <div class="timeline-left">
            <h3>
              <span class="date">1895</span>
              <p class="description">Creation of the Woodworking and Carpenter's Shop in Billund (Denmark).</p>
            </h3>
          </div>
          <div class="timeline-right">
            <img src="public/images/1895.png" />
          </div>
        </div>
        <div class="timeline-row">
          <div class="timeline-left">
            <h3>
              <span class="date">1916</span>
              <p class="description">Ole Kirk Christiansen purchases the Woodworking Shop in Billund.</p>
            </h3>
          </div>
          <div class="timeline-right">
            <img src="public/images/1916.png" />
          </div>
        </div>
        <div class="timeline-row">
          <div class="timeline-left">
            <h3>
              <span class="date">1934</span>
              <p class="description">The company is named LEGO, from the Danish phrase leg godt ("play well"). "LEGO" also means "I assemble" in Latin.</p>
            </h3>
          </div>
          <div class="timeline-right">
            <img src="public/images/1934.png" />
          </div>
        </div>
        <div class="timeline-row">
          <div class="timeline-left">
            <h3>
              <span class="date">1947</span>
              <p class="description">Ole Kirk purchases the first plastic moulding machine in Denmark, and the company begins manufacturing plastic toys.</p>
            </h3>
          </div>
          <div class="timeline-right">
            <img src="public/images/1947.png" />
          </div>
        </div>
        <div class="timeline-row">
          <div class="timeline-left">
            <h3>
              <span class="date">1949</span>
              <p class="description">LEGO begins producing similar plastic bricks, calling "Automatic Binding Bricks".</p>
            </h3>
          </div>
          <div class="timeline-right">
            <img src="public/images/1949.png" />
          </div>
        </div>
        <div class="timeline-row">
          <div class="timeline-left">
            <h3>
              <span class="date">1969</span>
              <p class="description">The Duplo system, using larger bricks and targeting younger children (but also compatible with existing LEGO bricks) is released.</p>
            </h3>
          </div>
          <div class="timeline-right">
            <img src="public/images/1969.png" />
          </div>
        </div>
        <div class="timeline-row">
          <div class="timeline-left">
            <h3>
              <span class="date">1986</span>
              <p class="description">LEGO Technic robots controlled by computers are placed in schools.</p>
            </h3>
          </div>
          <div class="timeline-right">
            <img src="public/images/1986.png" />
          </div>
        </div>
        <div class="timeline-row">
          <div class="timeline-left">
            <h3>
              <span class="date">1996</span>
              <p class="description">LEGO.COM is launched.</p>
            </h3>
          </div>
          <div class="timeline-right">
            <img src="public/images/1996.png" />
          </div>
        </div>
        <div class="timeline-row">
          <div class="timeline-left">
            <h3>
              <span class="date">1997</span>
              <p class="description">LEGO launches its first PC game, LEGO Island.</p>
            </h3>
          </div>
          <div class="timeline-right">
            <img src="public/images/1997.png" />
          </div>
        </div>
        <div class="timeline-row">
          <div class="timeline-left">
            <h3>
              <span class="date">1999</span>
              <p class="description">LEGO produces the first licensed and movie theme with Lucasfilm, LEGO Star Wars.</p>
            </h3>
          </div>
          <div class="timeline-right">
            <img src="public/images/1999.png" />
          </div>
        </div>
        <div class="timeline-row">
          <div class="timeline-left">
            <h3>
              <span class="date">2000</span>
              <p class="description">LEGO Studios is introduced.</p>
            </h3>
          </div>
          <div class="timeline-right">
            <img src="public/images/2000.png" />
          </div>
        </div>
        <div class="timeline-row">
          <div class="timeline-left">
            <h3>
              <span class="date">2002</span>
              <p class="description">Company slogan changes from "Just Imagine..." to "Play On".</p>
            </h3>
          </div>
          <div class="timeline-right">
            <img src="public/images/2002.png" />
          </div>
        </div>
        <div class="timeline-row">
          <div class="timeline-left">
            <h3>
              <span class="date">2014</span>
              <p class="description">Release of The LEGO Movie.</p>
            </h3>
          </div>
          <div class="timeline-right">
            <img src="public/images/2014.png" />
          </div>
        </div>
      </div>
    </section>
    <script src="public/js/modernizr.custom.js"></script>
    <script src="public/js/jquery.js"></script>
    <script src="public/js/jquery.easing.js"></script>
    <script src="public/js/timeline.js"></script>
  </body>
</html>
